.large-header {
  position: relative;
  width: 100%;
  background: #111;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}

.container{
  position: absolute;
}

.demo .large-header {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #F9F1E9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.demo .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.main-title .thin {
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .demo .main-title {
     font-size: 3em;
  }
}

//////

body {
  margin: 0px;
}

main {
  display: flex;
}
nav {
  flex: 1;
  font-family: sans-serif;
  z-index: 1;
  position: absolute;
  width: 100%;
  margin-top: 2%;
  ul {
    list-style: none;
    padding: 0;
    background: #444;
    margin: 0;
    text-align: right;
    li {
      border-bottom: 1px dotted #ddd;
      a {
        color: #ddd;
        text-decoration: none;
        padding: .8rem 1rem;
        line-height: 1;
      }
    }
  }
}

/*styling logo*/

nav div:first-child {
  background: #222;
  h1 {
    line-height: 0;
    padding: .8rem 0rem;
    text-align: center;
    margin: 0 28%;
  }

  .logo{
    color: #d35050
  }

  img {
    filter: contrast(0);
  }
}

/*Styling for larger devices*/

@media only screen and (min-width: 30em) {
  nav {
    display: flex;
    justify-content: space-between;
    background: transparent;
    align-items: center;
    ul {
      display: flex;
      align-items: center;
      background: none;
      flex-wrap: wrap;
      li {
        border-bottom: none;
        flex: 1 0 auto;
        position: relative;
        a {
          padding: 1.2rem 1rem;
        }
      }
    }
    div:first-child {
      h1 {
        padding: 0;
        margin: 0 1rem;
      }
      img {
        height: 40px;
      }
    }
  }
}

// Animation under nav buttons
nav ul li a::before, nav ul li a::after{
  content: "";
  position: absolute;
  bottom:0;
  right: 0;
  width:0%;
  height: 2px;
  background:red;
  transition: .2s width ease-in-out;
}

nav ul li a::before{
  left:0;
}

nav ul li a:hover::after,nav ul li a:hover::before{
  width: 50%;
} 