.userSection {
  margin-top: 50px;
  margin-left: 4.5%;
  background-color: green;

}

.userSection h3 {
  font-family: sans-serif;
  padding: 10px;
  font-style: oblique;
  text-decoration: underline;
}


.reservations {
  border: 1px solid white;
  border-radius: 25px;
  background: #fc644def;
  text-align: center;
  width: 400px;
  height: 500px;
}

#container {
  border: 1px solid white;
  border-radius: 20px;
  width: 90%;
  background-color: gainsboro;
  height: 85%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 20px;
}
/*Set the container height to 100% of the page */
.userSection .container {
  height: 100%;
}
/*The following CSS helps style the containers that hold the tweets*/
.userSection  .new-tweet-article {
  height: 210px;
  background-color: white;
  border: 1px solid #d0d0d0;
  margin-top: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px ;
  border-bottom-left-radius: 10px ;
}
/*style the containers*/
.userSection  .new-tweet-article img{
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid black;
  background-color: #90ee9057;
  border-radius: 10px;
  padding: 2px;
}

.userSection  .new-tweet-article:hover img{
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid black;
  background-color: lightgreen;
  border-radius: 10px;
  padding: 2px;
}

.userSection  .new-tweet-article header h3 {
  float: left ;
  padding-left: 10px;
  margin-top: 10px;
  color: grey ;
 }

 .userSection  .new-tweet-article header h5 {
  float: right ;
  margin-right: 10px;
  color: grey ;
  margin-top: 50px;
 }
.userSection  .new-tweet-article:hover h3{
    float: left ;
  padding-left: 10px;
  margin-top: 10px;
  color: black ;
}


.userSection  .new-tweet-article header {
  height: 70px;
  background-color: #fc644dbd;
  border: 1px solid #fc644dbd;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.userSection  .new-tweet-article:hover header {
  height: 70px;
  background-color: #fc644def;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.userSection  .tweet-body p {
  border-bottom: 1px solid #D0D0D0;
  margin-bottom: 0px;
  margin-top: 5px;
}

.userSection  .new-tweet-article footer {
  width: 100%;
  position: relative;
  margin-left: 10px ;
  float: left ;
}
.userSection  .icons {
  display: none;
  position: absolute;
  top: 10px;
  right: 15px;
}
/*when hovering over the container show these buttons*/
.userSection  .new-tweet-article:hover footer .icons{
  display: block;
}
.userSection  .new-tweet-article footer p {
  font-size: smaller ;
  font-weight: bold;
}
